{
	"username":"YOUR_YRDSB_USERNAME_HERE",
	"password":"YOUR_YRDSB_PASSWORD_HERE",
	"token":"YOUR_DISCORD_BOT_TOKEN_HERE",
    "channel": "YOUR CHANNEL_ID_HERE",
    "admins": [123456678],
    "guild_id": 12345678,
    "headless": false
}
